body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:gray;
    width: 90%;
    margin:0 auto;
}
header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color:rgba(40, 126, 37, 0.808);
    border-radius: 5px;
    margin-top:10px;
}

.logo img{
    
    width:30%;
    padding-top:40px;
}

.navegacao{
    overflow: hidden;
}
.navegacao a{
    float: right;
    display: block;
    color:black;
    text-decoration: none;
    text-align: right;
    padding:10px 10px;
}

.navegacao a:hover{
    color:rgba(40, 126, 37, 0.808);
    background-color:black;
}

.um{
    margin-top: 5px;
    margin-bottom: 5px ;
    
}
.um:hover{
   
    background-color: rgba(40, 126, 37, 0.808);
    width:100%;
    color:#000000;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px ;
}


.rodape{
    color:rgb(0, 0, 0);
    font-size: 12px;
    text-align: left;
    padding:20px;
}